<nav class=" fixed-bottom  text-white py-4 rounded-top-nav navbar-dark bg-white text-muted" *ngIf="showMenu">

  <div class="container text-center">
    <div class="row row-cols-5 py-0">
      <div class="col ">

        <a [routerLink]="['/home']"

           class="text-muted ">
          <i class="bi  "
             [class.bi-house-door-fill]="isUrlActive('/home')"
             [class.text-light-purple]="isUrlActive('/home')"
             [class.bi-house-door]="!isUrlActive('/home')"
          >

          </i>
        </a>
      </div>
      <div class="col ">
        <a [routerLink]="['/history']"
           class="text-muted ">
          <i class="bi  "
             [class.bi-bar-chart-fill]="isUrlActive('history')"
             [class.text-light-purple]="isUrlActive('/history')"
             [class.bi-bar-chart]="!isUrlActive('history')"
          ></i>
        </a>
      </div>

      <div class="col dropup-center ">

        <span type="button" class="btn bg-purple border-0 rounded-circle p-3 add-button  " data-bs-toggle="dropdown"
              aria-expanded="false">
          <i class="bi bi-plus-lg px-1"></i>
        </span>
        <div class="scale-in-bottom" (click)="currentUrlUpdate('more')" >
          <ul class="dropdown-menu bubble4 p-4 mb-3 border-0 rounded-5 " style="margin: -3px!important;">
            <li class="scale-in-bottom">
              <a class="dropdown-item shadow py-3 my-3 align-self-center rounded-4" href="#">
                <i class="bi bi-heart-pulse text-purple"></i>
                <span class="ps-3">Add blood pressure</span>
              </a>
            </li>
            <li class="scale-in-bottom">
              <a class="dropdown-item shadow py-3 my-3 align-self-center rounded-4" [routerLink]="['/add-weight']">
                <i class="bi bi-clipboard text-purple"></i>
                <span class="ps-3">Add weight measurement</span>
              </a>
            </li>
            <li class="scale-in-bottom">
              <a class="dropdown-item shadow py-3 my-3 align-self-center rounded-4" href="#">
                <i class="bi bi-bicycle text-purple"></i>
                <span class="ps-3">Add Activity</span>
              </a>
            </li>
            <li class="scale-in-bottom">
              <a class="dropdown-item shadow py-3 my-3 align-self-center rounded-4" href="#">
                <i class="bi bi-smartwatch text-purple"></i>
                <span class="ps-3">Track my workout</span>
              </a>
            </li>

          </ul>
        </div>
      </div>


      <div class="col ">
        <a [routerLink]="['/messages']"
           class="text-muted ">
          <i class="bi   "
             [class.bi-chat]="!isUrlActive('messages')"
             [class.text-light-purple]="isUrlActive('messages')"
             [class.bi-chat-fill]="isUrlActive('messages')"
          ></i>
        </a>

      </div>
      <div class="col ">
        <a [routerLink]="['/profile']"
           class="text-muted ">
          <i class="bi   "
             [class.bi-person]="!isUrlActive('profile')"
             [class.text-light-purple]="isUrlActive('profile')"
             [class.bi-person-fill]="isUrlActive('profile')"
          ></i>
        </a>
      </div>
    </div>
  </div>

</nav>
