@import "./src/assets/styles/variable";
.add-button {
  margin-top: -5em !important;

}

.bi {
  //font-size: 26px!important;
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.dropdown-item:hover,.dropdown-item:focus,.dropdown-item .active {
  background-color: $purple;
  color: white;

}
