<nav class=" fixed-bottom  text-white py-2 navbar-dark bg-white text-muted">

  <div class="container text-center" >
    <div class="row row-cols-5 py-2">
      <div class="col ">
        <a href="" class="text-muted " >
          <i class="bi bi-house-door " style="font-weight: bold"></i>
        </a>
      </div>
      <div class="col " >
        <i class="bi bi-bar-chart-steps  "></i>
      </div>
      <div class="col">
        <span
          class="btn btn-primary rounded-circle p-3 add-button">
          <i class="bi bi-plus px-1"></i>
        </span>


      </div>
      <div class="col ">
        <i class="bi bi-chat"></i>
      </div>
      <div class="col ">
        <i class="bi bi-person"></i>
      </div>
    </div>

  </div>


</nav>
