@import "assets/styles/variable";

body {
  min-height: 100vh;
  background-color: #f2f2f2;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.text-purple {
  color: $purple;
}
.bg-purple,.bg-purple:hover{
  background-color: $purple;
  color: white;
}
