<div class="container overflow-scroll">
  <div class="row px-2 py-5">
    <div class="col-auto align-self-center">
      <div class="display-6 fw-bolder">My Activity</div>
    </div>
    <div class="col text-end">
      <img src="assets/images/avatar.png" width="60" height="60" class="rounded-circle">
    </div>
  </div>

  <div class="container-fluid px-0">
    <div class="row slide-in-right flex-row flex-nowrap overflow-scroll">

      <div class="col-6 col-md-4 ">
        <div class="card rounded-4 border-0">
          <div class="card-body row ">
            <div class="col-auto align-self-center ">
              <i class="bi bi-suit-heart text-purple"></i>
            </div>
            <div class="col">
              <div class="fs-3 fw-bold">5 920</div>
              <div>
                <small class="text-muted">Steps</small>
              </div>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 ">
        <div class="card rounded-4 border-0">
          <div class="card-body row ">
            <div class="col-auto align-self-center ">
              <i class="bi bi-suit-heart text-purple"></i>
            </div>
            <div class="col">
              <div class="fs-3 fw-bold">5 920</div>
              <div>
                <small class="text-muted">Steps</small>
              </div>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 ">
        <div class="card rounded-4 border-0">
          <div class="card-body row">
            <div class="col-auto align-self-center">
              <i class="bi bi-smartwatch text-purple"></i>
            </div>
            <div class="col pe-0">
              <div class="text-nowrap">
                <span class="fs-3 fw-bold">920</span>
                <small class="text-muted">mins</small>
              </div>

              <div>
                <small class="text-muted">Steps</small>
              </div>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row px-2 py-4">
    <div class="col-auto align-self-center">
      <div class="fs-5 fw-bolder">My Activity</div>
    </div>
    <div class="col text-end text-muted">
      42 of 54
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card rounded-4 bg-purple border-0" style="height:200px">
        <div class="card-body row">


        </div>
      </div>
    </div>
  </div>
  <div class="row px-2 py-4 scale-in-center">
    <div class="col-auto align-self-center">
      <div class="fs-5 fw-bolder">Trending Workouts</div>
    </div>
    <div class="col text-end ">
      <a href="" class="text-muted">see all</a>
    </div>
  </div>

  <div class="row ">

    <div class="col">
      <div class="card rounded-4 border-0 fade-in-bottom">
        <div class="card-body row ">
          <div class="col-auto align-self-center ">
            <i class="bi bi-bicycle text-purple"></i>
          </div>
          <div class="col-8 align-self-center">
            <div class="fs-4">Muscle Builder</div>
          </div>
          <div class="col text-end">
            <i class="bi bi-play-circle bi-play-circle-lg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
