
.bi {
  font-size: 20px !important;
}

.bi-play-circle-lg {
  font-size: 30px !important;
  color: #67ff27;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dotted-line {
  margin-bottom: -2em;
  border-bottom-style: dashed !important;
}

.graph-bar {
  height: 11.5em;
  width: 1.4em;
}

.graph-bar  .scale-in-bottom {
  border-radius: 50rem 50rem 25rem 25rem!important;
}

.img-icon{
  width: 3em;
  height: 3em;
}



